RAILS_ENV=production
NODE_ENV=production
INSTALLATION_ENV=docker
FRONTEND_URL=https://chat.example.org
SECRET_KEY_BASE=REPLACE_WITH_64_BYTE_RANDOM_SECRET
POSTGRES_HOST=postgres
POSTGRES_DATABASE=chatwoot
POSTGRES_USERNAME=chatwoot
POSTGRES_PASSWORD=REPLACE
REDIS_URL=redis://chatwoot:REPLACE@redis:6379/1
ENABLE_ACCOUNT_SIGNUP=false
RAILS_LOG_TO_STDOUT=true
ACTIVE_STORAGE_SERVICE=local
