<profile name="contact-center">
 <gateways/>
 <settings>
  <param name="sip-ip" value="__PRIVATE_IP__"/><param name="rtp-ip" value="__PRIVATE_IP__"/>
  <param name="ext-sip-ip" value="__PUBLIC_IP__"/><param name="ext-rtp-ip" value="__PUBLIC_IP__"/>
  <param name="sip-port" value="5060"/><param name="context" value="contact-center"/>
  <param name="dialplan" value="XML"/><param name="auth-calls" value="false"/>
  <param name="apply-inbound-acl" value="sip-edge"/>
  <param name="inbound-codec-prefs" value="OPUS,PCMU,PCMA"/>
  <param name="outbound-codec-prefs" value="OPUS,PCMU,PCMA"/>
  <param name="inbound-late-negotiation" value="true"/>
  <param name="inbound-codec-negotiation" value="generous"/>
  <param name="rtp-timeout-sec" value="60"/>
  <param name="rtp-hold-timeout-sec" value="600"/>
 </settings>
</profile>
